<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=den1.mssql8.gear.host;
                Initial Catalog=dbchapeau202102;
                User ID=dbchapeau202102;
                Password=Fb99l!eK67Y_" />
  </connectionStrings>
</configuration>